@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/icecreamfavicon.ico" height="100" />
    <h1 class="display-4">Welcome to Little Treat Training</h1>
    <h2>Learn about the art of getting a little treat every day!</h2>
    <br />
</div>


<p>     Indulging in a little treat is a simple yet profound pleasure that adds a sprinkle of joy to the 
    everyday routine. Whether it's a decadent square of dark chocolate, a freshly baked cookie straight 
    from the oven, or a scoop of creamy gelato on a hot summer day, these small indulgences serve as 
    delightful reminders to pause, savor, and appreciate life's simple pleasures. In the hustle and bustle 
    of modern life, taking a moment to treat oneself can provide a much-needed break from the stresses and 
    demands of the day, offering a moment of respite and relaxation.</p>

<p>     There's a certain art to getting a little treat, a delicate balance between indulgence and moderation. 
    It's about finding that sweet spot where a small indulgence brings satisfaction without guilt, where a 
    fleeting moment of pleasure leaves a lasting sense of contentment. Whether enjoyed alone as a personal 
    reward or shared with loved ones as a gesture of kindness, these little treats have a way of brightening 
    even the darkest of days and lifting spirits with their simple yet irresistible charm.</p>

<p>     Moreover, the act of getting a little treat isn't just about satisfying a craving; it's about nurturing the 
    soul and nourishing the spirit. It's about giving oneself permission to indulge in moments of pure joy and 
    unabashed delight, without judgment or reservation. In a world filled with deadlines, obligations, and 
    responsibilities, these small acts of self-care serve as gentle reminders to prioritize our own well-being 
    and embrace the beauty of the present moment. So, whether it's a steaming cup of tea on a chilly afternoon 
    or a slice of homemade pie shared with friends, never underestimate the power of a little treat to brighten 
    your day and lift your spirits.</p>

<p>Have concerns about Alexandra's qualifications? Just take a look at her portfolio of experience:</p>

<div class="text-center">
    <img src="~/boba.jpg" height="200" />
    <img src="~/cupcakes.jpg" height="200" />
    <img src="~/sodafriends.jpg" height="200" />
    <img src="~/donut.jpg" height="200" />
    <img src="~/cinnamonrolls.jpg" height="200" />
    <img src="~/soda.jpg" height="200" />
    <img src="~/cookiedough.jpg" height="200" />
    <img src="~/sushi.jpg" height="200" />
</div>
<br />

